.navBarAccountIconWrapper{
    position: relative;
    z-index: 100;
    .profileCardContainer{
        position: absolute;
        top: 100%;
        right: 0px;
        ul{
            list-style: none;
            li{
                width: max-content;
                min-width: 100px;
                cursor: pointer;
                padding: 5px 10px;
                font-size: min(calc(12px + 0.6vw), 16px);
                &:hover{
                    background-color: #dddddd;
                }
            }
        }
    }
}