.reset-password-container {
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    display: flex;
    > div {
      min-width: 280px;
      padding: 20px 40px 20px 40px;
      display: flex;
      flex-direction: column;
      background-color: #f8f8f8;
      .match{
        input{
          border-bottom: 2px rgb(78, 143, 78) solid !important;
        }
      }
      .mismatch{
        input{
          border-bottom: 2px rgb(255, 52, 52) solid !important;
        }
      }
    }
  }
  