.order-card-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin: 10px 0px;
  img {
    width: calc(180px + 1.1vw);
    height: calc(180px + 1.1vw);
    object-fit: contain;
    //   height: 200px;
    padding: 20px;
    cursor: pointer;
  }
  .order-container-details {
    display: flex;
    flex-direction: column;
    margin: auto 0px auto 10px;
    h6{
        font-weight: 600;
    }
    p{
        max-width: 100% !important;
    }
  }
}
