.form-bottom-button{
    font-family: Manrope, sans-serif;
    font-size: 14px;
    line-height: 18px;
    padding: 12px 20px;
    border-radius: 2px;
    color: #e75a16;
    background-color: white;
    border: 2px solid #69696925;
    cursor: pointer;
}