.form-main-button{
    font-family: Manrope, sans-serif;
    padding: 15px 20px;
    background-color: #e75a16;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}